*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-weight:bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex_container_body{
    /* background-color: red; */
    max-width:90%;
    height: 500px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
 ul{
    margin-top: 5px;
    padding-left: 50px;
 }

 li{
    list-style: upper-latin;
 }

 p, figcaption{
    margin-top: 10px;
 }

  .flex_item_body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
 }

 .flex_item_card_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .flex_item_key_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .flex_item_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
 }

 .flex_item_card_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }

 .flex_item_key{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
 }

 .keySelect{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
 }

 .button_key{
    margin-bottom:20px;
    width: 200px;
    margin-top: 15px;
}

.optionKey{
    width: 30px;
}

 .imagenClass{
    border: 2px solid red;
 }

 #imagenId{
    width: 500px;
    margin-top: 15px;
 }

.tarjeta_imagen{
    width: 250px;
    box-shadow: 5px 5px 15px 2px;
    border-radius: 15px;
}

.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.input{
    margin-top: 5px;
    width: 200px;
}

.button_card{
    margin-bottom:20px;
    width: 200px;
    margin-top: 15px;
}

.cantidad_stickers{
    font-weight: 600;
}

#stickerId{
    color:red;
    font-weight: 600;
}

